*.html
merged_sample_quality_annotations.tsv
merged_sample_quality_annotations_RNAseq.xlsx
mmc3.xlsx
mmc4.xlsx
Notes.txt
scripts/.DS_Store
TCGA-CDR-SupplementalTableS1.xlsx
TCGA_samples_to_combine.xlsx
UMCCR Samples_Avner_for_RNAseq_test.xlsx
.Rhistory
data/.DS_Store
data/Avner.counts.matrix.txt
data/Avner_Target.txt
data/Datasets_list_breast_head_and_neck_group.txt.combineExprData.md
data/Datasets_list_breast_head_and_neck_group.txt.combineExprData_files/figure-html/data_normalisation_unnorm_vs_norm-1.png
data/Datasets_list_breast_head_and_neck_group.txt.combineExprData_files/figure-html/data_transformation_plot-1.png
data/Datasets_list_breast_head_and_neck_group.txt.combineExprData_files/figure-html/md_plot-1.png
data/Datasets_list_core_gastrointestinal_group.txt.combineExprData.md
data/Datasets_list_core_gastrointestinal_group.txt.combineExprData_files/figure-html/data_normalisation_unnorm_vs_norm-1.png
data/Datasets_list_core_gastrointestinal_group.txt.combineExprData_files/figure-html/data_transformation_plot-1.png
data/Datasets_list_core_gastrointestinal_group.txt.combineExprData_files/figure-html/md_plot-1.png
data/Datasets_list_developmental_gastrointestinal_group.txt.combineExprData.md
data/Datasets_list_developmental_gastrointestinal_group.txt.combineExprData_files/figure-html/data_normalisation_unnorm_vs_norm-1.png
data/Datasets_list_developmental_gastrointestinal_group.txt.combineExprData_files/figure-html/data_transformation_plot-1.png
data/Datasets_list_digestive_system_group.txt
data/Datasets_list_digestive_system_group.txt.combineExprData.md
data/Datasets_list_digestive_system_group.txt.combineExprData_files/figure-html/data_normalisation_unnorm_vs_norm-1.png
data/Datasets_list_digestive_system_group.txt.combineExprData_files/figure-html/data_transformation_plot-1.png
data/Datasets_list_digestive_system_group.txt.combineExprData_files/figure-html/md_plot-1.png
data/Datasets_list_gastrointestinal_group.txt
data/Datasets_list_gastrointestinal_group.txt.combineExprData.md
data/Datasets_list_gastrointestinal_group.txt.combineExprData_files/figure-html/data_normalisation_unnorm_vs_norm-1.png
data/Datasets_list_gastrointestinal_group.txt.combineExprData_files/figure-html/data_transformation_plot-1.png
data/Datasets_list_gastrointestinal_group.txt.combineExprData_files/figure-html/md_plot-1.png
data/Datasets_list_hematologic_lymphatic_lung_group.txt
data/Datasets_list_hematologic_lymphatic_lung_group.txt.combineExprData.md
data/Datasets_list_hematologic_lymphatic_lung_group.txt.combineExprData_files/figure-html/data_normalisation_unnorm_vs_norm-1.png
data/Datasets_list_hematologic_lymphatic_lung_group.txt.combineExprData_files/figure-html/data_transformation_plot-1.png
data/Datasets_list_hematologic_lymphatic_lung_group.txt.combineExprData_files/figure-html/md_plot-1.png
data/Datasets_list_mix_group.txt.combineExprData.md
data/Datasets_list_mix_group.txt.combineExprData_files/figure-html/data_normalisation_unnorm_vs_norm-1.png
data/Datasets_list_mix_group.txt.combineExprData_files/figure-html/data_transformation_plot-1.png
data/Datasets_list_mix_group.txt.combineExprData_files/figure-html/md_plot-1.png
data/Datasets_list_neuroendocrine_glioma_group.txt
data/Datasets_list_neuroendocrine_glioma_group.txt.combineExprData.md
data/Datasets_list_neuroendocrine_glioma_group.txt.combineExprData_files/figure-html/data_normalisation_unnorm_vs_norm-1.png
data/Datasets_list_neuroendocrine_glioma_group.txt.combineExprData_files/figure-html/data_transformation_plot-1.png
data/Datasets_list_neuroendocrine_glioma_group.txt.combineExprData_files/figure-html/md_plot-1.png
data/Datasets_list_pancreas.txt.combineExprData.md
data/Datasets_list_pancreas.txt.combineExprData_files/figure-html/data_normalisation_unnorm_vs_norm-1.png
data/Datasets_list_pancreas.txt.combineExprData_files/figure-html/data_transformation_plot-1.png
data/Datasets_list_pancreas.txt.combineExprData_files/figure-html/md_plot-1.png
data/Datasets_list_breast_head_and_neck_group.txt
data/TCGA_DLBC_Counts.exp
data/TCGA_DLBC_Target.txt
data/TCGA_HNSC_Counts.exp
data/TCGA_HNSC_Target.txt
data/TCGA_LUAD_Counts.exp
data/TCGA_LUAD_Target.txt
data/TCGA_PCPG_Counts.exp
data/TCGA_PCPG_Target.txt
data/TCGA_THYM_Counts.exp
data/TCGA_THYM_Target.txt
.DS_Store
data/TCGA_BRCA_Counts.exp
data/TCGA_BRCA_Target.txt
data/TCGA_CHOL_Counts.exp
data/TCGA_CHOL_Target.txt
data/TCGA_COAD_Counts.exp
data/TCGA_COAD_Target.txt
data/TCGA_ESCA_Counts.exp
data/TCGA_ESCA_Target.txt
data/TCGA_GBM_Counts.exp
data/TCGA_GBM_Target.txt
data/TCGA_LAML_Counts.exp
data/TCGA_LAML_Target.txt
data/TCGA_LGG_Counts.exp
data/TCGA_LGG_Target.txt
data/TCGA_LIHC_Counts.exp
data/TCGA_LIHC_Target.txt
data/TCGA_LUSC_Counts.exp
data/TCGA_LUSC_Target.txt
data/TCGA_PAAD_Bailey_Target.txt
data/TCGA_PAAD_Collisson_Target.txt
data/TCGA_PAAD_Counts.exp
data/TCGA_PAAD_Moffitt_Target.txt
data/TCGA_PAAD_Target.txt
data/TCGA_READ_Counts.exp
data/TCGA_READ_Target.txt
data/TCGA_STAD_Counts.exp
data/TCGA_STAD_Target.txt
data/Datasets_list_core_gastrointestinal_group.txt.combineExprData.html
data/Datasets_list_developmental_gastrointestinal_group.txt.combineExprData.html
data/Datasets_list_gastrointestinal_group.txt.combineExprData.html
data/Datasets_list_digestive_system_group.txt.combineExprData.html
data/Datasets_list_mix_group.txt.combineExprData.html
data/Datasets_list_neuroendocrine_glioma_group.txt.combineExprData.html
data/Datasets_list_pancreas.txt.combineExprData.html
data/Datasets_list_breast_head_and_neck_group.txt.combineExprData.html
data/Datasets_list_hematologic_lymphatic_lung_group.txt.combineExprData.html
data/TCGA_PAAD_Target_all.txt
data/2018-02-16_PMCC_Panel_Regions.bed
data/Moffitt_genes.xls
data/Bailey_genes.xlsx
data/Collisson_genes.xls
data/2018-02-16_PMCC_Panel_Genes.txt
data/2018-02-16_PMCC_Panel_Genes.xls
data/rse_gene_pancreas.Rdata
data/GTEx_normal_pancreas_Counts.exp
data/GTEx_normal_pancreas_Target.txt
data/GTEx_normal_pancreas_Target_all.txt
differential_expression/GTEx_normal_pancreas_Counts.txt
data/TCGA-PAAD_GTEx_MD_plots/SRR1074385_MDplot.pdf
data/pizzly-validation/pizzly-flat-filtered.tsv
data/pizzly-validation/MH17T001P013-oncofuse-test-flat-filtered.tsv
data/pizzly-validation/HP_ALB.pdf
data/pizzly-validation/ALB_APOA1.png
data/pizzly-validation/ALB_APOA1.pdf
data/pizzly-validation/ALB_FGG.pdf
data/pizzly-validation/abundance.tsv
data/pizzly-validation/ALB_FGG.png
data/pizzly-validation/HP_ALB.png
data/pizzly-validation/pizzly-filtered-MH17T001P013.csv
data/ref_cohorts/TCGA_THYM_Target.txt
data/ref_cohorts/TCGA_STAD_Target.txt
data/ref_cohorts/TCGA_READ_Counts.exp
data/ref_cohorts/TCGA_PCPG_Target.txt
data/ref_cohorts/TCGA_PCPG_Target.txt
data/ref_cohorts/TCGA_PCPG_Counts.exp
data/ref_cohorts/TCGA_PCPG_Counts.exp
data/ref_cohorts/TCGA_PAAD_Target_all.txt
data/ref_cohorts/TCGA_PAAD_Target_all.txt
data/ref_cohorts/TCGA_PAAD_Moffitt_Target.txt
data/ref_cohorts/TCGA_LUSC_Counts.exp
data/ref_cohorts/TCGA_LUSC_Target.txt
data/ref_cohorts/TCGA_PAAD_Bailey_Target.txt
data/ref_cohorts/TCGA_PAAD_Counts.exp
data/ref_cohorts/TCGA_PAAD_Collisson_Target.txt
data/ref_cohorts/TCGA_LUAD_Target.txt
data/ref_cohorts/TCGA_LIHC_Target.txt
data/ref_cohorts/TCGA_CHOL_Target.txt
data/ref_cohorts/rse_gene_pancreas.Rdata
data/ref_cohorts/TCGA_BRCA_Counts.exp
data/ref_cohorts/TCGA_COAD_Target.txt
data/ref_cohorts/TCGA_CHOL_Counts.exp
data/ref_cohorts/TCGA_COAD_Counts.exp
data/ref_cohorts/TCGA_DLBC_Counts.exp
data/ref_cohorts/TCGA_ESCA_Counts.exp
data/ref_cohorts/TCGA_DLBC_Target.txt
data/ref_cohorts/GTEx_normal_pancreas_Target.txt
data/ref_cohorts/TCGA_BRCA_Target.txt
data/ref_cohorts/TCGA_GBM_Target.txt
data/ref_cohorts/TCGA_HNSC_Counts.exp
data/ref_cohorts/TCGA_HNSC_Target.txt
data/ref_cohorts/TCGA_LAML_Counts.exp
data/ref_cohorts/TCGA_LAML_Target.txt
data/ref_cohorts/TCGA_LGG_Counts.exp
data/ref_cohorts/TCGA_LGG_Target.txt
data/ref_cohorts/TCGA_LIHC_Counts.exp
data/ref_cohorts/TCGA_LUAD_Counts.exp
data/ref_cohorts/TCGA_PAAD_Target.txt
data/ref_cohorts/TCGA_READ_Target.txt
data/ref_cohorts/TCGA_STAD_Counts.exp
data/ref_cohorts/TCGA_ESCA_Target.txt
data/ref_cohorts/GTEx_normal_pancreas_Counts.exp
data/ref_cohorts/TCGA_GBM_Counts.exp
data/ref_cohorts/TCGA_THYM_Counts.exp
data/pizzly/abundance.tsv
data/pizzly/ALB_APOA1.pdf
data/pizzly/ALB_FGG.pdf
data/pizzly/HP_ALB.pdf
data/pizzly/HP_ALB.png
data/pizzly/ALB_FGG.png
data/pizzly/ALB_APOA1.png
data/pizzly/MH17T001P013-oncofuse-test-flat-filtered.tsv
data/pizzly/pizzly-filtered-MH17T001P013.csv
data/pizzly/pizzly-flat-filtered.tsv
data/clinker/ALB_APOA1.pdf
data/clinker/ALB_APOA1.png
data/clinker/ALB_FGG.pdf
data/clinker/ALB_FGG.png
data/clinker/HP_ALB.pdf
data/clinker/HP_ALB.png
data/kallisto/abundance.tsv
data/pizzly/CCR170012_MH17T001P013-filtered-MH17T001P013.csv
data/pizzly/CCR170012_MH17T001P013-flat-filtered.tsv
data/kallisto/requant/abundance.tsv
data/ref_cohorts/rse_gene_cervix_uteri.Rdata
data/ref_cohorts/GTEx_normal_cervix_uteri_Counts.exp
data/ref_cohorts/GTEx_normal_cervix_uteri_Target.txt
data/ref_cohorts/TCGA_CESC_Counts.exp
data/ref_cohorts/TCGA_CESC_Target.txt
