package:
  name: r-rnasum
  version: 2.0.2 # bump

source:
  path: ../../../

build:
  number: 0
  noarch: generic
  rpaths:
    - lib/R/lib/
    - lib/

requirements:
  build:
    - git
  host:
    - r-base ==4.1.3
    - bioconductor-annotationdbi
    - bioconductor-annotationfilter
    - r-assertthat
    - r-conflicted
    - r-dplyr
    - r-dt
    - bioconductor-edaseq ==2.28.0
    - bioconductor-edger ==3.36.0
    - bioconductor-ensembldb
    - r-fs
    - r-ggforce
    - r-ggplot2
    - r-glue
    - r-ragg
    - r-here
    - r-htmltools
    - r-htmlwidgets
    - r-knitr
    - bioconductor-limma ==3.50.1
    - umccr::r-manhattanly # grab for R v4.1 from umccr
    - r-matrixstats ==0.61.0
    - r-optparse
    - r-pdftools
    - r-png
    - r-plotly
    - bioconductor-preprocesscore
    - r-purrr
    - r-rcircos
    - r-readr
    - r-rlang
    - r-rmarkdown
    - umccr::r-rnasum.data
    - r-scales
    - r-sessioninfo
    - r-stringr
    - r-tibble
    - r-tidyr
    - bioconductor-tximport
  run:
    - r-base ==4.1.3
    - bioconductor-annotationdbi
    - bioconductor-annotationfilter
    - r-assertthat
    - r-conflicted
    - r-dplyr
    - r-dt
    - bioconductor-edaseq ==2.28.0
    - bioconductor-edger ==3.36.0
    - bioconductor-ensembldb
    - r-fs
    - r-ggforce
    - r-ggplot2
    - r-glue
    - r-ragg
    - r-here
    - r-htmltools
    - r-htmlwidgets
    - r-knitr
    - bioconductor-limma ==3.50.1
    - umccr::r-manhattanly # grab for R v4.1 from umccr
    - r-matrixstats ==0.61.0
    - r-optparse
    - r-pdftools
    - r-png
    - r-plotly
    - bioconductor-preprocesscore
    - r-purrr
    - r-rcircos
    - r-readr
    - r-rlang
    - r-rmarkdown
    - umccr::r-rnasum.data
    - r-scales
    - r-sessioninfo
    - r-stringr
    - r-tibble
    - r-tidyr
    - bioconductor-tximport

test:
  commands:
    - $R -e "library('RNAsum')"

about:
  home: https://github.com/umccr/RNAsum
  license: MIT + file LICENSE
  summary: RNAseq-based cancer patient reports
  license_family: MIT
